section#Audio main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section#Audio article {
  width: 40%;
  margin: 10px;
}

section#Audio h4 {
  text-align: center;
}

section#Audio audio {
  display: flex;
  margin: auto;
}

section#Audio p {
  text-align: center;
}
