section#Video main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section#Video article {
  width: 40%;
  margin: 10px;
}

section#Video h4 {
  text-align: center;
}

section#Video video {
  display: flex;
  margin: auto;
}

section#Video p {
  text-align: center;
}
