main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 40%;
  margin: 10px;
}

h4 {
  text-align: center;
}

audio {
  display: flex;
  margin: auto;
}

p {
  text-align: center;
}
