table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}


th, td {
    padding: 5px;
    text-align: left;
}

td a{
    text-decoration: none;
    color: black;
}


th {
    background-color: aquamarine;
}

td img {
    width: 100px;
    height: 100px;
}

table tr:nth-child(even){
    background-color:red;
  }

tr:hover{
    background-color:grey !important;
}

/*Btn revenir en haut de la page*/
#boutonhaut {
    float: right;
}

#boutonhaut a{
    background-color: aquamarine;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/* fenetre modale */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }